hr {
    margin: 1pc 3pc 1pc 0pc;
}

.button-link {
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;
    padding: 5px;
}

.head {
    width: 20%;
    margin: 20px;
}

